<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>works</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>name</th>
        <th>price</th>
        <th>estimate</th>
        <th>user</th>
    </tr>
    {% for work in page_obj %}
        <tr>
            <td>{{ work.name }}</td>
            <td>{{ work.price }}</td>
            <td>{{ work.estimate }}</td>
            <td>{{ work.user.email }}</td>
            <td><a href="{% url  'work_detail'  work.pk %}">details</a></td>
        </tr>
    {% endfor %}
</table>

<br><br><br>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</body>
</html>